@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
}
.topbar{
  background-color: #e40046!important;
}
.my-logo{
  font-family: 'Fugaz One', cursive;
  color: #fff!important;
}

.mycard{
    margin-top: 180px;
    box-shadow: 0 0 12px;
    border-radius: 10px;
    
    
}
.fiture{
    background-color:#363062 ;
   border-radius: 10px;
}
.fiture-text{
    margin-top: 80px;
}

.myloginform{
    margin-top: 80px;
}

/* dashboard styling  */
/* navbar  */

